@import url('https://fonts.googleapis.com/css?family=Montserrat:500,500i,600,700,800&display=swap');

.nav {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
}

.btn-floating {
  text-align: center;
  color: #9194ba;
  cursor: pointer;
  transition-duration: 0.1s;
  padding-right: 1rem;
  padding-left: 1rem;
}

.btn-floating span {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 16px;
}

.btn-floating:hover {
  color: #fff;
  cursor: pointer;
}

html, body {
  margin:0;
  padding:0;
}

a {
  text-decoration: none;
}
