.landing {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  color:#FFF;
}

.clip-circle {
  width: 200px;
  margin: 20px;
  clip-path: circle(100px at center);
}

body {
  background-color: #10122b;
}

a {
    text-decoration: none;
}
