.landing {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  margin: auto;
  width: 50%;
  padding: 10px;
  vertical-align: middle
  color:#FFF;
}

.clip-circle {
  width: 200px;
  margin: 20px;
  clip-path: circle(100px at center);
  border-radius: 100px;
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 1);
}

body {
  background-color: #10122b;
}

a {
    text-decoration: none;
    color: #9194ba;
}
