.nav {
  background: linear-gradient(-45deg, rgba(74,77,117,1) 0%, rgba(16,18,43,1) 100%);
}

.header-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
}

.title {
  font-family: 'Montserrat', sans-serif;
  font-size: 35px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.date {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  opacity: 40%;
  height: 20%;
}

.post_body {
  font-family: 'Montserrat', sans-serif;
  padding: 20px;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post_body p, code, a, ul {
  width: 45%;
  line-height: 30px;
}

ul {
  width: 35%;
  padding: 10px;
}

.note {
  background-color: #f2f2f2;
  width:45%;
  padding: 15px;
}

.note p {
  width: 100%;
  font-size: 12px;
  line-height: 20px;
  margin: auto;
}

.term {
  color: #FFF;
  padding: 2px;
  border-radius: 5px;
}

html, body {
  margin:0;
  padding:0;
}

.video-row {
  text-align: center;
}

video {
  margin-bottom: 10px;
  margin-right: 5px;
}

img {
  margin-bottom: 10px;
}

h3 {
  padding: 20px;
}

a {
  color: #9194ba;
  text-decoration: none;
}

a:hover{
  text-decoration: none;
}
