.header {
  height: 40%;
  background: rgb(74,77,117);
  background: linear-gradient(0deg, rgba(74,77,117,1) 0%, rgba(16,18,43,1) 100%);
}

.header-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 60%;
  padding: 50px;
}

.title {
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  font-size: 50px;
  font-weight: bold;
  opacity: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.date {
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  font-size: 20px;
  opacity: 10%;
  height: 20%;
}

.post_body {
  font-family: 'Montserrat', sans-serif;
  padding: 20px;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post_body p, code, a, ul {
  width: 45%;
  line-height: 30px;
}

ul {
  width: 35%;
  padding: 10px;
}

.note {
  background-color: #f2f2f2;
  width:45%;
  padding: 15px;
}

.note p {
  width: 100%;
  font-size: 12px;
  line-height: 20px;
  margin: auto;
}

.term {
  color: #FFF;
  padding: 2px;
  border-radius: 5px;
}

.healthy {
  background-color: #3ba852;
}

.infected {
  background-color: #d43949;
}

.incubation {
  background-color: #dce05c;
}

.recovered {
  background-color: #646464;
}

.deceased {
  background-color: #464646;
}

.video-row {
  text-align: center;
}

html, body {
  margin:0;
  padding:0;
}

video {
  margin-bottom: 10px;
  margin-right: 5px;
}

h3 {
  padding: 20px;
}

a {
  color: #9194ba;
  text-decoration: none;
}

a:hover{
  text-decoration: none;
}
