.btn-floating {
  text-align: center;
  color: #9194ba;
  cursor: pointer;
  transition-duration: 0.1s;
  padding-right: 80px;
}

.btn-floating span {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 15px;
}

.btn-floating:hover {
  color: #fff;
  cursor: pointer;
}

.header {
  height: 50%;
  background: rgb(74,77,117);
  background: linear-gradient(0deg, rgba(74,77,117,1) 0%, rgba(16,18,43,1) 100%);
}

.title {
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  font-size: 80px;
  font-weight: bold;
  opacity: 10%;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav {
  display: flex;
  justify-content: flex-start;
  padding: 20px;
}

.projects {
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  background-color: white;
  padding: 10px;
  margin-top: 5px;
  width: 50%;
}

.card a {
  color: #10122b;
}

.card a:hover {
  color: #9194ba;
  transition-duration: 0.1s;
}

.card hr {
  opacity: 20%;
}

.date {
    opacity: 50%;
    font-size: 10px;
}

html, body {
  margin:0;
  padding:0;
}

a {
  text-decoration: none;
}
