.social {
    border-radius: 2px;
    margin: 2rem 0;
    font-size: 2rem;
    white-space: nowrap;
}

.social a {
  text-decoration: none;
  margin: 5px;
  transition-duration: 0.1s;
}

.github:hover {
    color: #FFF;
}

.buttons {
  margin: 5rem;
}

.btn-floating {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 15px;
  padding: 10px 10px;
  margin: 2rem;
  text-align: center;
  border: 2px solid #9194ba;
  background-color: #10122b;
  color: #9194ba;
  cursor: pointer;
  transition-duration: 0.1s;
}

.nav:hover {
  color: #10122b;
  background-color: #9194ba;
  cursor: pointer;
}

.header {
  font-family: 'Montserrat', sans-serif;
  background-color: #e1e2eb;
  height: 50%;
  display: flex;
  justify-content: center;
}

.projects {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-size: 8px;
  text-decoration: none;
}

html, body {
  margin:0;
  padding:0;
}
